.Wrapper {
  width: 100%;
  height: 60rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  background: linear-gradient(
    257.25deg,
    #1fbcff 4.9%,
    rgba(76, 202, 255, 0) 121.16%
  );
  margin-bottom: 14.5rem;
}
.SubWrapper {
  margin: 8rem;
  width: 90rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Heading {
  width: 65rem;
  font-weight: 500;
  font-size: var(--font-40);
  text-align: center;
  color: #ffffff;
  margin-bottom: 6rem;
}
.ButtonStyle {
  padding: 1.2rem 3.5rem;
  background: linear-gradient(
    81.71deg,
    #ffffff -3.64%,
    rgba(225, 248, 255, 0.61) 130.3%
  );
  border-radius: 33px;
  font-weight: 500;
  font-size: var(--font-18);
  line-height: 27px;
  text-align: center;
  color: #20d7ff !important;
  transition: box-shadow 0.2s ease;
}

.ButtonStyle:hover {
  box-shadow: 5px 10px 17px rgba(5, 48, 101, 0.2);
}

.Ev2 {
  position: absolute;
  top: calc(100% - 40rem + 1.2rem);
  left: 0;
  height: 40rem;
  width: fit-content;
}
.Ev3 {
  position: absolute;
  height: 8rem;
  top: calc(100% - 8rem + 0.15rem);
  right: 0;
  width: fit-content;
}
.Ev4 {
  position: absolute;
  height: 20rem;
  top: calc(100% - 20rem + 4.5rem);
  right: 9rem;
  width: fit-content;
}

@media only screen and (max-width: 1000px) {
  .Heading {
    width: 50rem;
    font-size: var(--font-30);
  }
  .Ev2 {
    height: 35rem;
    top: calc(100% - 35rem + 0.85rem);
  }
  .Ev3 {
    position: absolute;
    height: 6rem;
    top: calc(100% - 5.95rem);
  }
  .Ev4 {
    height: 15rem;
    top: calc(100% - 12rem);
    right: 7rem;
  }
  .ButtonStyle {
    font-size: var(--font-17) !important;
    padding: 0.9rem 2.8rem !important;
  }
}
@media only screen and (max-width: 750px) {
  .Wrapper {
    margin-bottom: 12rem;
  }
  .Heading {
    width: 50rem;
    font-size: var(--font-30);
  }
  .Ev2 {
    height: 28rem;
    top: calc(100% - 28rem + 0.85rem);
  }
  .Ev3 {
    position: absolute;
    height: 5rem;
    top: calc(100% - 4.95rem);
  }
  .Ev4 {
    height: 12rem;
    top: calc(100% - 9rem);
    right: 6rem;
  }
}

@media only screen and (max-width: 600px) {
  .SubWrapper {
    margin: 0;
    margin-top: 6rem;
  }
  .Heading {
    width: min(39rem, 80%);
    font-size: var(--font-24);
    margin-bottom: 5rem;
  }
  .Ev2 {
    height: 24rem;
    top: calc(100% - 24rem + 0.7rem);
  }
  .Ev3 {
    position: absolute;
    height: 4.3rem;
    top: calc(100% - 4.24rem);
  }
  .Ev4 {
    height: 10rem;
    top: calc(100% - 7.4rem);
    right: 5.5rem;
  }
  .ButtonStyle {
    font-size: var(--font-16) !important;
    padding: 0.8rem 2.7rem !important;
  }
}

@media only screen and (max-width: 480px) {
  .SubWrapper {
    margin: 0;
    margin-top: 5rem;
  }
  .Heading {
    font-size: var(--font-22);
    margin-bottom: 3.5rem;
  }
  .Ev2 {
    height: 50vw;
    top: calc(100% - 48.5vw);
  }
  .Ev3 {
    position: absolute;
    height: 8.5vw;
    top: calc(100% - 8.84vw);
  }
  .Ev4 {
    height: 20.5vw;
    top: calc(100% - 15vw);
    right: 9vw;
  }
  .ButtonStyle {
    font-size: var(--font-16) !important;
    padding: 0.8rem 2.7rem !important;
  }
}
