.Wrapper {
  width: 100%;
  /* margin: 0 auto; */
  padding-bottom: 8rem;
}

.Title {
  font-size: var(--font-20);
  margin-top: 4.5rem;
  font-weight: 700;
}

.ItemWrapper {
  cursor: pointer;
}

.ListWrapper {
  margin-top: 2rem;
}
@media only screen and (max-width: 900px) {
  .Title {
    margin-top: 2.5rem;
  }
}
