.SubWrapper {
  display: flex;
  margin: 0 auto;
  width: fit-content;
}

.Line {
  width: 0.5px;
  background-color: var(--sec-grey);
  margin-top: 5rem;
  height: 80vh;
}

.LeftWrapper {
  width: 75rem;
  padding-right: 5rem;
}

.AboutWraper {
  width: 35rem;
  padding-left: 4rem;
}
@media only screen and (max-width: 1190px) {
  .SubWrapper {
    justify-content: center;
  }
  .LeftWrapper {
    width: 63rem;
    padding-right: 3rem;
  }
  .AboutWraper {
    width: 29rem;
    padding-left: 2rem;
  }
}
@media only screen and (max-width: 1050px) {
  .SubWrapper {
    flex-direction: column-reverse;
    padding-left: 0rem;
    width: 70rem;
  }
  .Line {
    display: none;
  }

  .LeftWrapper {
    padding-left: 0rem;
    padding-right: 0rem;
    width: 100%;
  }
  .AboutWraper {
    width: 100%;
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
@media only screen and (max-width: 740px) {
  .SubWrapper {
    width: 92%;
  }
  .LeftWrapper {
    padding-left: 0rem;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .LeftWrapper {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .SubWrapper {
    width: 100%;
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 400px) {
  .SubWrapper {
    padding: 0 1.3rem;
  }
}
