.PaymentHistoryIndividualWrapper {
  display: grid;
  grid-template-columns: 30fr 10fr 30fr;
  margin-bottom: 1rem;
}
.PaymentUserName {
  font-size: var(--font-14);
  font-weight: 600;
}
.PaymentAmount {
  font-size: var(--font-14);
  font-weight: 600;
  justify-self: center;
}
.PaymentTimestamp {
  font-size: var(--font-14);
  font-weight: 600;
  justify-self: end;
}

@media screen and (max-width: 400px) {
  .PaymentUserName {
    font-size: var(--fontv-35);
  }
  .PaymentAmount {
    font-size: var(--fontv-35);
  }
  .PaymentTimestamp {
    font-size: var(--fontv-35);
  }
}
