.Wrapper {
  width: 100%;
  background-color: var(--white);
  padding: 1.8rem 0rem;
  box-shadow: 0rem 0.4rem 1.8rem rgba(0, 0, 0, 0.1);
  position: sticky;
  z-index: 15;
  top: 0;
}
.SubWrapper {
  width: 110rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.LeftWrapper {
  display: flex;
  align-items: center;
}
.Logo {
  width: fit-content;
  margin-right: 3rem;
  cursor: pointer;
}
.UserName {
  font-weight: 600;
  font-size: var(--font-15);
}
.RightWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.ProfilePhoto {
  margin-right: 1.5rem;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

@media only screen and (max-width: 1170px) {
  .SubWrapper {
    padding: 0 3.5rem;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .SubWrapper {
    padding: 0 2.5rem;
  }
}

@media only screen and (max-width: 375px) {
  .Wrapper {
    padding: 1.2rem 0;
  }
  .SubWrapper {
    padding: 0rem 6%;
  }
  .Logo {
    height: 1.75rem;
  }
  .ProfilePhoto {
    width: 2.8rem;
    height: 2.8rem;
    margin-right: 1.1rem;
  }
}
