.Wrapper {
  display: flex;
  flex-direction: column;
  width: 110rem;
  margin: 0 auto;
  padding-top: 3rem;
}
.SelectorsWrapper {
  display: flex;
}
.SelectorDiv {
  min-width: 13rem;
  max-width: 20rem;
  width: fit-content;
  height: fit-content;
}
.SelectorDiv:first-child {
  min-width: 15rem;
  max-width: 20rem;
  margin-right: 1rem;
}
.Count {
  margin: 2rem 0.5rem;
  font-size: var(--font-17);
}
.Value {
  font-weight: bold;
}
.StationWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1170px) {
  .Wrapper {
    width: 100%;
    padding: 0rem 3.5rem;
    padding-top: 3rem;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .Wrapper {
    padding: 0rem 2.5rem;
    padding-top: 2rem;
  }
}

@media screen and (max-width: 375px) {
  .Wrapper {
    padding: 0rem 4%;
    padding-top: 2rem;
  }
  .SelectorsWrapper {
    flex-direction: column;
  }

  .SelectorDiv:first-child {
    margin-bottom: 0.6rem;
    min-width: 20rem;
    max-width: 100%;
  }
  .SelectorDiv {
    min-width: 17rem;
    max-width: 100%;
  }
  .Count {
    margin: 1.6rem 0.5rem;
    font-size: var(--font-16);
  }
}
