.Wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.LogoWrapper {
  position: absolute;
  top: 2.5rem;
}

.SubWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.LeftContainer {
  width: 45rem;
  display: flex;
  flex-direction: column;
}

.Heading {
  font-size: var(--font-42);
  margin-bottom: 5rem;
  height: fit-content;
}

.Buttons {
  width: fit-content;
  display: flex;
}

.ButtonStyle1 {
  background: linear-gradient(
    63.31deg,
    #00d1ff -9.99%,
    #06c4ff -9.98%,
    rgba(3, 195, 255, 0.23) 131.09%
  );
  font-weight: 500;
  font-size: 2rem !important;
  color: white;
  transition: box-shadow 0.2s ease-out !important;
  padding: 0rem 3.5rem !important;
}

.ButtonStyle1:hover {
  box-shadow: 5px 9px 13px rgba(175, 175, 175, 0.5);
}

.ButtonStyle2 {
  height: fit-content;
  font-weight: 500;
  font-size: 2rem;
}

.RightContainer {
  display: flex;
  margin-left: 9rem;
}

.Ev1 {
  width: 57rem;
  height: fit-content;
}

@media only screen and (max-width: 1250px) {
  .Heading {
    font-size: var(--font-36);
  }
  .LeftContainer {
    width: 40rem;
  }
  .RightContainer {
    margin-left: 5rem;
  }
  .Ev1 {
    width: 53rem;
  }
}

@media only screen and (max-width: 1100px) {
  .Heading {
    font-size: var(--font-30);
  }
  .LeftContainer {
    width: 35rem;
  }
  .RightContainer {
    margin-left: 0rem;
  }
  .Ev1 {
    width: 47rem;
  }
  .ButtonStyle1,
  .ButtonStyle2 {
    font-size: var(--font-17) !important;
  }
}

@media only screen and (max-width: 950px) {
  .Wrapper {
    padding-bottom: 10rem;
  }
  .SubWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13rem;
  }
  .LeftContainer {
    width: 40rem;
    align-items: center;
    text-align: center;
  }
  .RightContainer {
    margin-top: 9rem;
  }
  .Ev1 {
    width: 40rem;
  }
}

@media only screen and (max-width: 500px) {
  .SubWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12rem;
  }
  .Wrapper {
    padding-bottom: 8rem;
  }
  .LeftContainer {
    width: min(75%, 34rem);
    justify-content: space-between;
    height: max(20rem, fit-content);
  }
  .Heading {
    font-size: var(--font-24);
  }

  .RightContainer {
    margin-top: 10rem;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .ButtonStyle1,
  .ButtonStyle2 {
    font-size: 1.6rem !important;
  }
  .Ev1 {
    width: min(32rem, 80%);
  }
}

@media only screen and (max-width: 350px) {
  .ButtonStyle1,
  .ButtonStyle2 {
    padding: 0rem !important;
    padding: 3vw 8vw !important;
    font-size: 5.3vw !important;
  }
  .Heading {
    font-size: 7.8vw;
  }
}
