.HighlightContainer {
  display: grid;
  grid-template-columns: 25fr 21fr 22fr;
  grid-column-gap: 1rem;
  width: 51rem;
  margin: 4rem;
  margin-right: 0;
}
.HighlightInstance:nth-child(1) {
  background: linear-gradient(
    128.06deg,
    var(--aqua) 22.53%,
    var(--dark-aqua) 117.18%
  );
  padding-right: 3rem;
}
.HighlightInstance:nth-child(2) {
  background: linear-gradient(
    170.03deg,
    var(--light-green) -9.37%,
    var(--dark-green) 124.75%
  );
  padding-right: 4rem;
}
.HighlightInstance:nth-child(3) {
  background: linear-gradient(
    324.2deg,
    var(--orange-tertiary) -6.78%,
    var(--orange-secondary) 102.98%
  );
  padding-right: 5rem;
}
@media screen and (max-width: 1150px) {
  .HighlightContainer {
    width: 100%;
    height: fit-content;
    min-height: 10rem;
    margin-left: 0;
  }
  .HighlightInstance:nth-child(1) {
    padding-right: 2vw;
  }
  .HighlightInstance:nth-child(2) {
    padding-right: 2vw;
  }
  .HighlightInstance:nth-child(3) {
    padding-right: 2vw;
  }
}

@media screen and (max-width: 500px) {
  .HighlightContainer {
    width: 90vw;
    margin: 1vw 0;
    min-height: 3vw;
  }
}
